<style>
  h2, form { margin-bottom: 0.5em; }
  h2 { font-size: 1.2em; }
  footer {
    position: absolute;
    width: inherit;
    bottom: -11.1em;
  }
  footer p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.85em;
    color: #555;
  }
</style>

<h1 class="accent">Readback</h1>
<p class="subtitle">The WCBN Database</p>

<%= yield %>

<% parent_layout 'thin' %>
